In [10]:
from lusid_express.display import STYLES, render_html, render_table, display_preloaded_vars
render_html(STYLES['table'])
display_preloaded_vars()

This IPython session has already instantiated the following objects
| Variable Name | Statement         | Description                          |
|---------------|-------------------|--------------------------------------|
| lu          | `import lusid as lu` | Main LUSID package                   |
| lm          | `import lusid.models as lm` | LUSID models module                  |
| apis         | `import lusid_express.apis as apis` | convenience package providing pre-authenticated api access.                 |

In [11]:
%%luminesce 
@transactionsExcel = use Drive.excel --file=/Transactions_test.xlsx
enduse;

@txns =
select
    *,
    "Source Portfolio Code" as PortfolioCode,
    "Source Portfolio Scope" as PortfolioScope,
    "Transaction Id" as TxnId,
    "04/17/2024" as TransactionDate,
    "04/18/2024" as SettlementDate,
    "USD" as SettlementCurrency
from
    @transactionsExcel;

select
    *
from
    Lusid.Portfolio.Txn.Writer
where
    toWrite = @txns;

,PortfolioScope,PortfolioCode,DisplayName,TxnId,Type,TransactionDate,SettlementDate,Units,TradePrice,TradePriceType,...,ShareClassFigi,Wertpapier,RIC,QuotePermId,EdiKey,WriteAction,WriteAsAt,WriteErrorCode,WriteError,WriteErrorDetail
0,ibor,3cc8-f536-ae54-c2,3cc8-f536-ae54-c2,MF1F1NH00,Buy,2024-04-17,2024-04-18,1,0,Price,...,NaN,NaN,NaN,NaN,NaN,Upsert,2024-04-18 17:27:16.123,0,NaN,NaN
1,ibor,3cc8-f536-ae54-c2,3cc8-f536-ae54-c2,MF1F1NH01,Sell,2024-04-17,2024-04-18,1,0,Price,...,NaN,NaN,NaN,NaN,NaN,Upsert,2024-04-18 17:27:16.123,0,NaN,NaN

In [12]:
%%luminesce
SELECT
    [TxnId],
    [PortfolioCode],
    [PortfolioScope]
FROM
    [Lusid.Portfolio.Txn]
WHERE
    [TxnId] LIKE 'MF1F1NH%'

       TxnId      PortfolioCode PortfolioScope
0  MF1F1NH00  3cc8-f536-ae54-c2           ibor
1  MF1F1NH01  3cc8-f536-ae54-c2           ibor

In [13]:
df = _
response = apis.transaction_portfolios_api.cancel_transactions(
    scope=df.PortfolioScope.tolist()[0],
    code=df.PortfolioCode.tolist()[0],
    transaction_ids=df.TxnId.tolist(),
)
render_table(response.to_dict(), title="Response")

In [14]:
%%luminesce
SELECT
    [TxnId],
    [PortfolioCode],
    [PortfolioScope]
FROM
    [Lusid.Portfolio.Txn]
WHERE
    [TxnId] LIKE 'MF1F1NH%'

Empty DataFrame
Columns: [TxnId, PortfolioCode, PortfolioScope]
Index: []